.but_ton {
    text-decoration:none;
    font-weight: 600;
    font-size: 20px;
    color:#ffffff;
    padding-top:15px;
    padding-bottom:15px;
    padding-left:20px;
    padding-right:20px;
    background-color: transparent;
    border-width: 3px;
    border-style: solid;
    border-color: transparent;
    border-radius: 12px;
    }
.pr {
    text-decoration:none;
    font-weight: 600;
    font-size: 20px;
    color:#ffffff;
    padding-top:15px;
    padding-bottom:15px;
    padding-left:20px;
    padding-right:20px;
    background-color: rgb(207, 207, 1);
    border-width: 3px;
    border-style: solid;
    border-color: transparent;
    border-radius: 12px;
    }
.es {
    text-decoration:none;
    font-weight: 600;
    font-size: 20px;
    color:#ffffff;
    padding-top:15px;
    padding-bottom:15px;
    padding-left:20px;
    padding-right:20px;
    background-color: rgb(207, 207, 1);
    border-width: 3px;
    border-style: solid;
    border-color: transparent;
    border-radius: 12px;
    }
.qs {
    text-decoration:none;
    font-weight: 600;
    font-size: 20px;
    color:#ffffff;
    padding-top:15px;
    padding-bottom:15px;
    padding-left:20px;
    padding-right:20px;
    background-color: rgb(207, 207, 1);
    border-width: 3px;
    border-style: solid;
    border-color: transparent;
    border-radius: 12px;
    }
body {
    background-color: rgb(26, 26, 61);
    font-family: sans-serif;
    color: #ffffff;
}
h1{
    letter-spacing: 6px;
    font-family: sans-serif;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
}